body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background: linear-gradient(to right, #581c87, black); */
  color: white;
  background-image: url('C:\Users\ATHARV SANJAY JAIN\my-portfolio\src\Pictures\I want a brown brick.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 1; 
}
.App {
  text-align: center;
    /* background: linear-gradient(to right, #581c87,black); */
}



.App-header {
  /* background: linear-gradient(to right, #581c87, black); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.header-scrolled {
  background: rgba(0, 0, 0, 0.374); /* Adjust transparency and color as needed */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

